body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-box, .friend-profile {
  width: 15%;
}

.profile-box {
  border: 2px solid #f00;
  position: absolute;
  right: 0;
}

.friend-profile {
  border: 2px solid #0f0;
}

img {
  width: 100%;
}